.movie-card {
  width: 300px !important; 
  height: 400px !important;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative !important;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position:relative;
  opacity: 1;
}

.movie-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding:10px;
  position:absolute;
  bottom:0;
  height:200px;
  background:linear-gradient(#00000000, #000000 90%);
  width:100% !important;
}

.movie-card-content:hover {
  cursor: pointer;
}

.movie-card-content:hover .movie-card img {
  opacity: 0.5;
}

.movie-card-content:hover .movie-description {
  opacity: 1;
  height: 55px !important;
  width: 95% !important;
}

.movie-title {
  font-size: 15px !important;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #f1f5f9;
  width: 90%;
  margin-bottom: 6px;
}

.movie-description {
  font-size: 12px !important;
  color: #f1f5f9;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 8px;
  height:0px;
  opacity: 0;
  transition: all 0.6s;
}

.favorite-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.favorite-icon {
  transition: color 0.3s;
}

.favorite-icon.favorite {
  color: red;
}

.favorite-icon.not-favorite {
  color: grey
}

.more-info {
  color: grey;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:absolute;
  width:100%;
}